body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background-image: url("back1.gif");
  background-size: 120px 120px;
  background-repeat: repeat;
}

/* hidden helper */
.hidden {
  display: none;
}

/* START SCREEN */
#startScreen {
  position: fixed;
  inset: 0;
  background-image: url("back2.gif");
  background-size: 120px 120px;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#startText {
  font-size: 60px;
  background: pink;
  padding: 25px 50px;
  border-radius: 20px;
  outline: 5px solid black;
}

/* MAIN CONTAINER */
#container {
  margin-top: 50px;
}

/* framed image */
#mainImage {
  width: 260px;
  height: 320px;
  object-fit: cover;
  border: 10px solid pink;
  outline: 4px solid black;
  border-radius: 15px;
  background: pink;
}

/* buttons */
#buttons {
  margin-top: 25px;
}

button {
  font-size: 20px;
  padding: 12px 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: white;
}

#yesBtn {
  background: #2ecc71;
}

#noBtn {
  background: #e74c3c;
}

#message {
  font-size: 22px;
  margin-top: 20px;
}

/* FINAL SCREEN */
#finalScreen {
  display: none;
  position: fixed;
  inset: 0;
  background-image: url("back2.gif");
  background-size: 120px 120px;
  background-repeat: repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: flash 0.5s infinite;
  z-index: 10;
}

#finalScreen img {
  width: 320px;
  height: 400px;
  object-fit: contain;
  background: pink;
  padding: 20px;
  outline: 5px solid black;
  border-radius: 20px;
}

@keyframes flash {
  0% { filter: brightness(1); }
  50% { filter: brightness(1.3); }
  100% { filter: brightness(1); }
}

